* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", serif;
}

body {
    background-color: #ffeff2;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 20px;
    border-bottom: 1.5px solid #fd2401;
    color: #fd2401;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    z-index: 10;
    background-color: #ffeff2;
}

.container {
    color: #fd2401;
    margin-top: 80px;
}

.col {
    padding: .5em;
}

/*ESTILOS TABLA*/
table {
    color: #fd2401;
    padding: 10px 0;
    border-spacing: 50px 7px;
}

th {
    padding: 0px 30px 0px 30px;
    text-align: center;
    border-bottom: 1.5px solid red;
}

td {
    text-align: center;
}

button {
    background: none;
    border: none;
    padding: 0;
}

.elementos {
    margin-top: 1.2em;
    display: flex;
    flex-direction: row;
    gap: 5em;
}